h1{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1e21;
}
h2{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #606770;
}
.container{
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1e21;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn{
    background-color: #42b72a;
}
.signup-btn:hover{
    background-color: #1c8008;
}