body{
    background-color: rgba(128, 128, 128, 0.288);
    margin: 0px;
}
nav{
    background-color: white;
    overflow: hidden;
    
}
nav a{
    font-size: 30px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
}
h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.904);
}
h3{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.719);
}
.form{
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.input-box{
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 20% ;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.can{
background-color: gray;
font-family: Arial, Helvetica, sans-serif;
}
.sea{
    background-color:#1877f2;
    font-family: Arial, Helvetica, sans-serif;
}

